# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

bryce-jackson-website-firebase-adminsdk-ra4es-7428ff5320.json

cjest.csv
cjest.js
cjest.json